<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT mainRootContainer ANY>
<!ATTLIST mainRootContainer id ID #REQUIRED>
<!ELEMENT vacancies ANY>
<!ATTLIST vacancies id ID #REQUIRED>
<!ELEMENT job ANY>
<!ATTLIST job id ID #REQUIRED>
<!ELEMENT candidatesContainer ANY>
<!ATTLIST candidatesContainer id ID #REQUIRED>
<!ELEMENT candidates ANY>
<!ATTLIST candidates id ID #REQUIRED>
]>
<root id="-1">
  <mainRootContainer id="1053" key="6b3f64cb-6dcd-4f66-9346-1babfbdc20d8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-16T15:07:09" updateDate="2018-03-23T09:28:30" nodeName="Main" urlName="main" path="-1,1053" isDoc="" nodeType="1052" creatorName="Admin" writerName="Admin" writerID="0" template="2140" nodeTypeAlias="mainRootContainer" isPublished="true">
    <vacancies id="1057" key="885c0d44-16e1-4f63-8b8e-3f1eff84967c" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2018-03-16T15:10:52" updateDate="2018-03-18T20:59:56" nodeName="Vacancies" urlName="vacancies" path="-1,1053,1057" isDoc="" nodeType="1054" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="vacancies" isPublished="true">
      <job id="1059" key="c99d15e8-2233-44b5-91b0-afff71624f2f" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2018-03-16T15:12:27" updateDate="2018-03-16T15:12:29" nodeName="Sr.Software Engineer" urlName="srsoftware-engineer" path="-1,1053,1057,1059" isDoc="" nodeType="1058" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="job" isPublished="true" />
      <job id="1060" key="3917eb72-7305-4186-a2ff-24566f29ed4d" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2018-03-16T15:12:47" updateDate="2018-03-16T15:12:48" nodeName="Font-End Developer" urlName="font-end-developer" path="-1,1053,1057,1060" isDoc="" nodeType="1058" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="job" isPublished="true" />
      <job id="1061" key="3f72bea0-a4b4-4dbe-b3f1-65c1947a5144" parentID="1057" level="3" creatorID="0" sortOrder="2" createDate="2018-03-16T15:13:26" updateDate="2018-03-16T15:13:26" nodeName="Digital Marketing Officer" urlName="digital-marketing-officer" path="-1,1053,1057,1061" isDoc="" nodeType="1058" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="job" isPublished="true" />
      <job id="1062" key="81535f40-a732-4988-bcac-28b9776a1d39" parentID="1057" level="3" creatorID="0" sortOrder="3" createDate="2018-03-16T15:13:59" updateDate="2018-03-16T15:14:01" nodeName="Back-end Developer" urlName="back-end-developer" path="-1,1053,1057,1062" isDoc="" nodeType="1058" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="job" isPublished="true" />
    </vacancies>
    <candidatesContainer id="1064" key="7d0e9aec-a57b-4403-9b54-c5bcc4d6d0f1" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2018-03-17T19:39:40" updateDate="2018-03-23T00:53:35" nodeName="Candidates" urlName="candidates" path="-1,1053,1064" isDoc="" nodeType="1063" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="candidatesContainer" isPublished="true">
      <candidates id="2164" key="595a5e90-c6e6-463d-b803-c997fb42eba4" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2018-03-23T12:36:46" updateDate="2018-03-23T12:36:46" nodeName="Ibrahim Nada" urlName="ibrahim-nada" path="-1,1053,1064,2164" isDoc="" nodeType="1065" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="candidates" isPublished="true">
        <phoneNumber><![CDATA[202-555-0127]]></phoneNumber>
        <email><![CDATA[tupacmuhammad5@gmail.com]]></email>
        <jobAppliedTo><![CDATA[umb://document/c99d15e8223344b591b0afff71624f2f]]></jobAppliedTo>
        <fullName><![CDATA[Ibrahim Nada]]></fullName>
        <picture><![CDATA[umb://media/accbbe69dec742fa9321aac8bed9de65]]></picture>
        <cv><![CDATA[umb://media/fd32313e9d844b5badecb027dcef1e5d]]></cv>
      </candidates>
      <candidates id="2167" key="083de25a-2b96-4d88-9206-bc503b5c6358" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2018-03-23T12:38:14" updateDate="2018-03-23T12:38:14" nodeName="Jhon Doe" urlName="jhon-doe" path="-1,1053,1064,2167" isDoc="" nodeType="1065" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="candidates" isPublished="true">
        <phoneNumber><![CDATA[202-555-0127]]></phoneNumber>
        <email><![CDATA[Jhon@Test.com]]></email>
        <jobAppliedTo><![CDATA[umb://document/3917eb7273054186a2ff24566f29ed4d]]></jobAppliedTo>
        <fullName><![CDATA[Jhon Doe]]></fullName>
        <picture><![CDATA[umb://media/dbe4cff968304851a56befcef22f974d]]></picture>
        <cv><![CDATA[umb://media/ba41cef709364672abce424bd54ef805]]></cv>
      </candidates>
      <candidates id="2170" key="7c868dc0-4fb8-41d0-a4b2-76ed4ddf71b8" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2018-03-23T12:40:07" updateDate="2018-03-23T12:40:07" nodeName="Jane Doe" urlName="jane-doe" path="-1,1053,1064,2170" isDoc="" nodeType="1065" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="candidates" isPublished="true">
        <phoneNumber><![CDATA[202-555-0127]]></phoneNumber>
        <email><![CDATA[ibrahimnada420@yahoo.com]]></email>
        <jobAppliedTo><![CDATA[umb://document/3917eb7273054186a2ff24566f29ed4d]]></jobAppliedTo>
        <fullName><![CDATA[Jane Doe]]></fullName>
        <picture><![CDATA[umb://media/22425184ff5940c0889fba812fbb95e2]]></picture>
        <cv><![CDATA[umb://media/2170f717fe8847f8b4096c5806282cd7]]></cv>
      </candidates>
    </candidatesContainer>
  </mainRootContainer>
</root>